ipykernel
flask
flask-cors 
python-dotenv 
requests 
youtube-transcript-api 
wikipedia-api 
beautifulsoup4 
langchain 
chromadb 
sentence-transformers
Flask-Session
selenium
webdriver-manager
faiss-cpu
# faiss-gpu
uuid
streamlit
